{% extends 'base.html' %}
{% block content %}
    {% for p in post %}
    <div class="post">
        <h2 class="mt-4"><b>{{ p.title }}</b></h2>
        <div class="row mb-2">
            <div class="col-lg-6">
                <h6>{{ p.category }}, By <a href="#">{{ p.author }}</a></h6>
            </div>
            <div class="col-lg-6">
                {{ p.updated_at }}
            </div>
        </div><hr>
        <p class="pb-2">
            {{ p.details }}
        </p>
        <a href="{{ p.url }}" style="list-style: none">
            <button type="button" class="btn btn-outline-info btn-lg btn-block">
                Continue Reading.....
            </button>
            <br></a>

    </div>
    {% endfor %}

{% endblock %}