{% extends 'python/python_base.html' %}
{% block content %}
    <div class="post">
        <h2 class="mt-4"><b>{{ post.title }}</b></h2>
        <div class="row mb-2">
            <div class="col-lg-6">
                <h5>By: <a href="#">{{ post.author }}</a></h5>
            </div>
            <div class="col-lg-6">
                {{ post.updated_at }}
            </div>
        </div>

        <p class="pb-2">
            লিস্ট কম্প্রিহেনশন হল পাইথনের এক প্রকার ম্যাজিক | আপনি ৫ ৬ লাইন এর কোড রেন্ডমলি লিখে যেই কাজ করবেন তা
            লিস্ট কম্প্রিহেনশন এর মাধ্যমে কমিয়ে দুই বা এক লাইন এ করতে পারবেন |
            তবে প্রথম দিকে বুঝতে একটু সময় লাগে |
        </p>

        <!-- next link -->
        <hr>
        <div class="clearfix">
            <button type="button" class="btn bg-dark float-left">
                <a class="p-4" href="#" style="color:white;">Previous </a>
            </button>
            <button type="button" class="btn bg-dark float-right">
                <a class="p-4" href="#" style="color:white;">Next</a>
            </button>
        </div>

    </div>

{% endblock %}